<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ settings.accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="icon" href="{{ 'favicon.ico' | asset_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>{{ page_title }}{% unless page_title contains shop.name %} · {{ shop.name }}{% endunless %}</title>
  {%- if page_description -%}<meta name="description" content="{{ page_description | escape }}">{%- endif -%}

  {{ content_for_header }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <style>
    :root{
      --accent: {{ settings.accent }};
      --accent-dk: {{ settings.accent | color_darken: 12 }};
      --accent-soft: {{ settings.accent | color_modify: 'alpha', 0.13 }};
      --round: {{ settings.round }};
      {%- unless settings.dymo %} --dymo-bg:transparent; --dymo-fg:var(--ink);{% endunless -%}
    }
  </style>
</head>
<body>
  {% section 'header' %}

  <main id="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% render 'cart-drawer' %}

  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
